.need-login,
.history__empty {
    color: rgb(238, 13, 13);
    font-size: 24px;
    text-align: center;

    margin-top: 200px;
}

.history {
    margin-top: 75px;
}

.history__title {
    font-size: 24px;
    text-align: center;
    margin: -25px 0 20px 0;
}